################## EPISTASIS .gitignore file ##################
### OSX files
.DS_Store

### R files
.Rhistory
*.RData

### Python
*.pyc

### IPython
.ipynb_checkpoints


###################################### SOME INSPIRATION from SCZ (*NOT ACTIVE*) ######################################
### R data files
#*.Rdata

### Igore data file (use "data/" to ignore folders named "data" at any level of the filesystem tree (only folders))
#data